*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.content{
    position: relative;
}
.content h2{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8em;
}
.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2){
    color: #03a9f4;
    animation: animate 1s ease-in-out infinite;
}
@keyframes animate{
    0%,100%
    {
        clip-path: polygon(0% 44%, 16% 45%, 32% 51%, 50% 54%, 64% 54%, 75% 51%, 92% 49%, 100% 44%, 100% 68%, 100% 92%, 100% 100%, 64% 100%, 38% 100%, 0% 99%, 100% 38%, 0% 99%);
    }
    50%{
        clip-path: polygon(0% 56%, 17% 54%, 32% 48%, 49% 44%, 65% 49%, 77% 46%, 98% 38%, 100% 63%, 100% 89%, 100% 100%, 70% 100%, 34% 100%, 0% 100%);
    }
}